Flask==1.0
Flask-SocketIO==0.5.0
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.15.3
gevent==1.0.1
gevent-socketio==0.3.6
gevent-websocket==0.9.3
greenlet==0.4.5
gunicorn==0.16.1
itsdangerous==0.24
pymongo==2.8
requests==2.6.0
urllib3==1.26.5
wsgiref==0.1.2
