{% extends "layout.html" %}
{% block content %}

<h1 class="text-center">CodeBuddy</h1><br>

<div class="container-fluid" style="max-width: 600px; margin: 0 auto 10px;border:1px solid #9C27B0;border-radius:20px;padding-top:30px; padding-bottom:30px">
	<form method="post" action="">

		<input class="form-control input-lg" type="email" name ="email" placeholder="Email" ></br></br>
		<input class="form-control input-lg" type="password" name ="password" placeholder="Password"></br></br>

		<div style="float:center;text-align:center">
		<input type="submit" class="btn btn-success btn-lg" name="login" value="Sign Up/Login">
		</div>
	</form>
</div>	

{% endblock %}

